var BeltHeader = React.createClass({
  render: function(){
    return(
      <div>
        <img className='pos-a t-65 r-neg50' src=<%= asset_path("belt_strap_opt.png").inspect %> alt="belt.png" />
        <img className='pos-a t-60 l-neg75' src=<%= asset_path("belt_buckle_opt.png").inspect %> alt="belt.png" />
        <h1 className='pos-a l-30'>Nautch.co</h1>
        <h4 className='pos-r f-r t-neg10'>{this.props.user}</h4>
        <h3 className='pos-r ta-c m-a l-30 t-200'>Dating is a game. Nautch keeps score.</h3>
      </div>
    );
  }
});
