var BeltHeader = React.createClass({
  render: function(){
    return(
      <div>
        <img className='pos-a t-55 r-neg50' src=<%= asset_path("belt_strap_opt.png").inspect %> alt="belt.png" />
        <img className='pos-a t-50 l-neg75' src=<%= asset_path("belt_buckle_opt.png").inspect %> alt="belt.png" />
        <h1 className='pos-a l-30 t-neg10'>Nautch.co</h1>
        <h3 className='pos-r ta-c m-a t-200'>Dating is a game. Nautch keeps score.</h3>
      </div>
    );
  }
});
