var RatingBar = React.createClass({

  propTypes: {
    rater_id: React.PropTypes.node,
    target_id: React.PropTypes.node,
    score: React.PropTypes.node,
    has_rated: React.PropTypes.node
  },

  getInitialState: function(){
    return {score: this.props.score}
  },

  updateStars: function(event) {
    this.setState({score: event.target.value * 5})
  },

  render: function() {
    var width = this.state.score / 50 * 400
    var style = {
      width: width + "px"
    }
    return (
      <div className="ta-c">
        <div style={style} className="pos-r m-a h-75" id="five_stars"></div>
        <h3 className="pos-r l-neg90 ta-c">Score: {this.state.score / 10}</h3>

        { this.props.has_rated  ?
            <h4 className="pos-r l-neg90 t-neg10">Your Rating: {this.props.has_rated.score / 10}</h4>
        :
            this.props.target_id == this.props.rater_id ?
                null
            :
                <form id="rating_form" action="/ratings" method="POST">
                  <input type="hidden" name="rater_id" value={this.props.rater_id} />
                  <input type="hidden" name="target_id" value={this.props.target_id} />
                  <input className="pos-r l-neg90" name="score" type="range" min="1" max="10" onChange={this.updateStars} />
                  <input className="pos-r l-neg90" type="submit" value="Rate" />
                </form> 
        }

      </div>
    );
  }
});
