<% if current_user.id == @user.id %>
  <a href="<%= edit_user_path(@user) %>">Edit Profile</a>
<% end %>
<%= react_component("ProfileBar", { user: @user, age: @user.age }) %>
<%= react_component("AchievementBar") %>
