/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* *{
  border: 1px solid red;
 }*/

.debugger{
  border: 1px solid red;
}

.pos-a{
  position: absolute;
}

.pos-r{
  position: relative;
}

.t-65{
  top: 65px;
}

.t-neg10{
  top: -10px;
}

.t-0{
  top: 0px;
}

.t-42{
  top: 42px;
}

.t-60{
  top: 60px;
}

.t-65{
  top: 65px;
}

.t-100{
  top: 100px;
}

.t-200{
  top: 200px;
}

.t-220{
  top: 220px;
}

.l-neg90{
  left: -90px;
}

.l-neg75{
  left: -75px;
}

.l-neg15{
  left: -15px;
}

.l-30{
  left: 30px;
}

.l-50{
  left: 50px;
}

.r-8{
  right: 8px;
}

.r-100{
  right: 100px;
}

.r-neg50{
  right: -50px;
}

.ta-l{
  text-align: left;
}

.ta-c{
  text-align: center;
}
.m-50{
  margin: 50px;
}

.m-a{
  margin: auto;
}

.w-100{
  width: 100px;
}

.w-200{
  width: 200px;
}

.w-400{
  width: 400px;
}

.w-100pc{
  width: 100%;
}

.h-37{
  height: 37px;
}

.h-75{
  height: 75px;
}

.h-200{
  height: 200px;
}

.d-b{
  display: block;
}

.d-i{
  display: inline;
}

.d-ib{
  display: inline-block;
}

.f-l{
  float: left;
}

.f-r{
  float: right;
}

#five_stars{
  background-image: asset-url("five_stars.png");
  background-size: 400px 75px;
}